# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

## Author
dlczyx

__Objectives:__
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* Create table for Data Science Tools
* Execute some basic math functions

Some of the popular languages that Data Scientists use are:
1. R
2. SQL
3. Python

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335